*{
    font-family: 'Inter', sans-serif;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}

.container{
    margin-top: 90px;
}

.card img {
    height: 280px;
}
.card-body {
    height: 500px;
    width: 280px;
}
.card-title {
    
    font-size: medium;
}
.card-text {
    height: 220px;
}
