body {
    background-color: #07070e;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 400px;
    margin: 50px auto;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    
  }
  
  label {
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 3%;
    color: #000;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #555;
    border-radius: 5%;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #030ffa;
  }